    <div class="container">

        <!-- Footer -->
        <footer>
            <div class="row card90">
                <div class="col-md-4">
                Logged in As : 
                <button type="button" class="btn btn-brown"><%= Bingo.user %></button> &nbsp; 
                <button type="button" class="btn btn-default" data-toggle="modal" data-target="#modalMyAccount">My Account</button>
                </div>

                <div class="col-md-2">

                </div>
                <div class="col-md-2">
                    Credit : <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#modalHelp">00.0 Euro</button>
                </div>
                <div class="col-md-2">
                    Won : <button type="button" class="btn btn-success" data-toggle="modal" data-target="#modalHelp">00.0 Euro</button>
                </div>
                <div class="col-md-1">
                <button type="button" class="btn btn-info" data-toggle="modal" data-target="#modalHelp">Help</button>
                </div>
            </div>
        </footer>

    </div>
    <!-- /.container -->

    <!-- common libs -->
    <script src="/assets/js/jquery.js"></script>
    <script src="/assets/js/bootstrap.min.js"></script>

    <!-- index -->
    <%- include('modals/help'); %>
    <%- include('modals/my_account'); %>

    <!-- bingo75 -->
    <% if(Bingo.url == 'bingo75') { %>
        <script src="/assets/js/bingo75.js"></script>
    <% } %>


    <!-- bingo90 -->
    <% if(Bingo.url == 'bingo90') { %>
        <script src="/assets/js/bingo90.js"></script>
    <% } %>

</body>

</html>
