
    <!-- common libs -->
    <script src="/assets/js/jquery-3.1.1.min.js"></script>
    <script src="/assets/js/tether.min.js"></script>
    <script src="/assets/js/bootstrap.min.js"></script>
    <script src="/assets/js/mdb.min.js"></script>


    <!-- index -->
    <%- include('modals/help'); %>
    <%- include('modals/my_account'); %>

    <!-- bingo75 -->
    <% if(Bingo.url == 'bingo75') { %>
        <script src="/assets/js/bingo75.js"></script>
    <% } %>


    <!-- bingo90 -->
    <% if(Bingo.url == 'bingo90') { %>
        <script src="/assets/js/bingo90.js"></script>
    <% } %>

</body>

</html>
