<%- include('header'); %>
    <!-- Page Content -->
    <div class="container">
        <div class="row carousel-holder">

            <div class="col-md-12">
                <div id="carousel-example-generic" class="carousel slide card75" data-ride="carousel">
                    <ol class="carousel-indicators">
                        <li data-target="#carousel-example-generic" data-slide-to="0" class="active"></li>
                        <li data-target="#carousel-example-generic" data-slide-to="1"></li>
                        <li data-target="#carousel-example-generic" data-slide-to="2"></li>
                    </ol>
                    <div class="carousel-inner">
                        <div class="item active">
                            <img style="width: 100%;height:250px;" class="slide-image" src="http://placehold.it/800x300" alt="">
                        </div>
                        <div class="item">
                            <img style="width: 100%;height:250px;" class="slide-image" src="http://placehold.it/800x300" alt="">
                        </div>
                        <div class="item">
                            <img style="width: 100%,height:250px;" class="slide-image" src="http://placehold.it/800x300" alt="">
                        </div>
                    </div>
                    <a class="left carousel-control" href="#carousel-example-generic" data-slide="prev">
                        <span class="glyphicon glyphicon-chevron-left"></span>
                    </a>
                    <a class="right carousel-control" href="#carousel-example-generic" data-slide="next">
                        <span class="glyphicon glyphicon-chevron-right"></span>
                    </a>
                </div>
            </div>

        </div>

        <div class="row">
            <div class="col-sm-4 col-lg-4 col-md-4">
                <div class="card75">
                    <img style="width: 100%;" src="http://placehold.it/320x150" alt="">
                    <div class="caption">
                        <h4 class="pull-right">$10 per card</h4>
                        <h4><a href="#">Bingo 75</a>
                        </h4>
                        <p>Our bingo cards start at the ridiculous price of 1 cent ,this means you can already start playing and winning hard cash in our special hall for 1 cent!</p>
                    </div>
                    <div class="ratings">
                        <p class="pull-right">Reviews</p>
                        <p>
                            <span class="glyphicon glyphicon-star"></span>
                            <span class="glyphicon glyphicon-star"></span>
                            <span class="glyphicon glyphicon-star"></span>
                            <span class="glyphicon glyphicon-star-empty"></span>
                            <span class="glyphicon glyphicon-star-empty"></span>
                        </p>
                    </div>
                    <div class="play-btn text-center">
                        <a class="btn btn-lg btn-success" href="/bingo75">Play Now</a>
                    </div>
                </div>
            </div>

            <div class="col-sm-4 col-lg-4 col-md-4">
                <div class="card75">
                    <img style="width: 100%;" src="http://placehold.it/320x150" alt="">
                    <div class="caption">
                        <h4 class="pull-right">$12 per card</h4>
                        <h4><a href="#">Bingo 90</a>
                        </h4>
                        <p>90 BALL BINGO is perhaps our best bingo game. Throughout the day you play in one of our rooms. You could win high prizes daily. You buy a book, but this book does.</p>
                    </div>
                    <div class="ratings">
                        <p class="pull-right">Reviews</p>
                        <p>
                            <span class="glyphicon glyphicon-star"></span>
                            <span class="glyphicon glyphicon-star"></span>
                            <span class="glyphicon glyphicon-star"></span>
                            <span class="glyphicon glyphicon-star"></span>
                            <span class="glyphicon glyphicon-star-empty"></span>
                        </p>
                    </div>
                    <div class="play-btn text-center">
                        <a class="btn btn-lg btn-success" href="/bingo90">Play Now</a>
                    </div>
                </div>
            </div>

            <div class="col-sm-4 col-lg-4 col-md-4">
                <h4><a href="#">Want to know more?</a>
                </h4>
                <p>Thank you for stopping by our site. It’s the place for online bingo like no other. Woodbingo offers you to play your favorite game and chat with your friends in the biggest online bingo community.</p>
                <a class="btn btn-primary" href="/about">About Us</a>
        </div> 


        </div>

    </div>
    <!-- /.container -->

   <%- include('footer'); %>


<script type="text/javascript">
    $('#login_btn').on('click', function(){
        var email = $('#email').val();
        var pass = $('#password').val();
        if($('#email').val() == '' || $('#password').val() == ''){
            $('#email, #password').addClass('red');
            return;
        } else {
            $.ajax({
              type: "POST",
              url: '/api/login',
              data: JSON.stringify({username:email, password:pass}),
              success: function(res){
                console.log('logged in'+ res);
                window.location.href = '/bingo75';
              },
              error:function(xhr){
                $('#loginLabel').addClass('red').html('Username/password is wrong.!');
              },
              dataType: 'json',
              contentType: "application/json; charset=utf-8",
            });
        }
    });
    $('#register_btn').on('click', function(){
        var remail = $('#remail').val();
        var rpass = $('#rpassword').val();
        var fname = $('#fname').val();
        var lname = $('#lname').val();
        if(remail == '' || rpass == ''){
            $('#remail, #rpassword, #registerLabel').addClass('red');
            return;
        } else {
            $.ajax({
              type: "POST",
              url: '/api/register',
              data: JSON.stringify({username:remail, password:rpass,fname:fname,lname:lname}),
              success: function(res){
                $('#registerLabel').addClass('green_clr').html('Thanks for registering.!');
                
                setTimeout(function(){ $('#register').modal('hide'); }, 1000);
              },
              dataType: 'json',
              contentType: "application/json; charset=utf-8",
              error:function(res){ 
                /*if(res.responseJSON.code == '11000'){
                   $('#registerLabel').addClass('red').html('User exits already.'); 
                   return;
                }*/
                $('#registerLabel').addClass('red').html('User can\'t be created.');
              },
              complete:function(res){
                $('#login').modal('show');
              }
            });
        }
    });
</script>