<%- include('header'); %>
    <!-- Page Content -->
    <div class="container">
        <div class="row carousel-holder">
            <div class="col-md-12">
            <!--Carousel Wrapper-->
                <div id="carousel-example-2" class="carousel slide carousel-fade" data-ride="carousel">
                    <!--Indicators-->
                    <ol class="carousel-indicators">
                        <li data-target="#carousel-example-2" data-slide-to="0" class="active"></li>
                        <li data-target="#carousel-example-2" data-slide-to="1"></li>
                        <li data-target="#carousel-example-2" data-slide-to="2"></li>
                    </ol>
                    <!--/.Indicators-->

                    <!--Slides-->
                    <div class="carousel-inner" role="listbox">
                        <!--First slide-->
                        <div class="carousel-item item active">
                            <!--Mask color-->
                            <div class="view hm-black-light">
                                <img src="http://mdbootstrap.com/img/Photos/Slides/img%20(22).jpg" class="img-fluid" alt="">
                                <div class="full-bg-img">
                                </div>
                            </div>
                            <!--Caption-->
                            <div class="carousel-caption">
                                <div class="animated fadeInDown">
                                    <h3 class="h3-responsive">Light mask</h3>
                                    <p>Secondary text</p>
                                </div>
                            </div>
                            <!--Caption-->
                        </div>
                        <!--/First slide-->

                        <!--Second slide-->
                        <div class="carousel-item item">
                            <!--Mask color-->
                            <div class="view hm-black-strong">
                                <img src="http://mdbootstrap.com/img/Photos/Slides/img%20(27).jpg" class="img-fluid" alt="">
                                <div class="full-bg-img">
                                </div>
                            </div>
                            <!--Caption-->
                            <div class="carousel-caption">
                                <div class="animated fadeInDown">
                                    <h3 class="h3-responsive">Strong mask</h3>
                                    <p>Secondary text</p>
                                </div>
                            </div>
                            <!--Caption-->
                        </div>
                        <!--/Second slide-->

                        <!--Third slide-->
                        <div class="carousel-item item">
                            <!--Mask color-->
                            <div class="view hm-black-slight">
                                <img src="http://mdbootstrap.com/img/Photos/Slides/img%20(24).jpg" class="img-fluid" alt="">
                                <div class="full-bg-img">
                                </div>
                            </div>
                            <!--Caption-->
                            <div class="carousel-caption">
                                <div class="animated fadeInDown">
                                    <h3 class="h3-responsive">Super light mask</h3>
                                    <p>Secondary text</p>
                                </div>
                            </div>
                            <!--Caption-->
                        </div>
                        <!--/Third slide-->
                    </div>
                    <!--/.Slides-->

                    <!--Controls-->
                    <a class="left carousel-control" href="#carousel-example-2" role="button" data-slide="prev">
                        <span class="icon-prev" aria-hidden="true"></span>
                        <span class="sr-only">Previous</span>
                    </a>
                    <a class="right carousel-control" href="#carousel-example-2" role="button" data-slide="next">
                        <span class="icon-next" aria-hidden="true"></span>
                        <span class="sr-only">Next</span>
                    </a>
                    <!--/.Controls-->
                </div>
                <!--/.Carousel Wrapper-->
                
            </div>
        </div>

        <div class="row">
            <div class="col-sm-4 col-lg-4 col-md-4">
                <!--Card-->
                <div class="card">

                    <!--Card image-->
                    <div class="view overlay hm-white-slight">
                        <img src="http://mdbootstrap.com/img/Photos/Horizontal/Nature/4-col/img%20%287%29.jpg" class="img-fluid" alt="">
                        <a href="#">
                            <div class="mask"></div>
                        </a>
                    </div>
                    <!--/.Card image-->

                    <!--Card content-->
                    <div class="card-block">
                        <!--Title-->
                        <h4 class="card-title">Card title</h4>
                        <!--Text-->
                        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                        <a href="/bingo75" class="btn btn-primary">Bingo 75</a>
                    </div>
                    <!--/.Card content-->

                </div>
                <!--/.Card-->
            </div>

            <div class="col-sm-4 col-lg-4 col-md-4">
                                <!--Card-->
                <div class="card">

                    <!--Card image-->
                    <div class="view overlay hm-white-slight">
                        <img src="http://mdbootstrap.com/img/Photos/Horizontal/Nature/4-col/img%20%287%29.jpg" class="img-fluid" alt="">
                        <a href="#">
                            <div class="mask"></div>
                        </a>
                    </div>
                    <!--/.Card image-->

                    <!--Card content-->
                    <div class="card-block">
                        <!--Title-->
                        <h4 class="card-title">Card title</h4>
                        <!--Text-->
                        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                        <a href="/bingo90" class="btn btn-primary">Bingo 90</a>
                    </div>
                    <!--/.Card content-->

                </div>
                <!--/.Card-->
            </div>

            <div class="col-sm-4 col-lg-4 col-md-4">
                <h4><a href="#">Want to know more?</a>
                </h4>
                <p>Thank you for stopping by our site. It’s the place for online bingo like no other. Woodbingo offers you to play your favorite game and chat with your friends in the biggest online bingo community.</p>
                <a class="btn btn-primary" href="/about">About Us</a>
        </div> 


        </div>

    </div>
    <!-- /.container -->

   <%- include('footer'); %>


<script type="text/javascript">
    $('#login_btn').on('click', function(){
        var email = $('#email').val();
        var pass = $('#password').val();
        if($('#email').val() == '' || $('#password').val() == ''){
            $('#email, #password').addClass('error-red');
            return;
        } else {
            $.ajax({
              type: "POST",
              url: '/api/login',
              data: JSON.stringify({username:email, password:pass}),
              success: function(res){
                console.log('logged in'+ res);
                window.location.href = '/bingo75';
              },
              error:function(xhr){
                $('#loginLabel').addClass('error-red red').html('Username/password is wrong.!');
              },
              dataType: 'json',
              contentType: "application/json; charset=utf-8",
            });
        }
    });
    $('#register_btn').on('click', function(){
        var remail = $('#remail').val();
        var rpass = $('#rpassword').val();
        var fname = $('#fname').val();
        var lname = $('#lname').val();
        if(remail == '' || rpass == ''){
            $('#remail, #rpassword, #registerLabel').addClass('error-red');
            return;
        } else {
            $.ajax({
              type: "POST",
              url: '/api/register',
              data: JSON.stringify({username:remail, password:rpass,fname:fname,lname:lname}),
              success: function(res){
                $('#registerLabel').addClass('green_clr').html('Thanks for registering.!');
                
                setTimeout(function(){ $('#register').modal('hide'); }, 1000);
              },
              dataType: 'json',
              contentType: "application/json; charset=utf-8",
              error:function(res){ 
                /*if(res.responseJSON.code == '11000'){
                   $('#registerLabel').addClass('red').html('User exits already.'); 
                   return;
                }*/
                $('#registerLabel').addClass('error-red red').html('User can\'t be created.');
              },
              complete:function(res){
                $('#login').modal('show');
              }
            });
        }
    });
</script>